<ion-header>
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-segment scrollable>
    <ion-segment-button checked value="{{category}}" (click)="getNews(category)" *ngFor="let category of categories">
      <ion-label>{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let article of articles; let i=index" fixed>
            <ion-card>
              <ion-card-header>
                  <ion-card-subtitle>{{article.author}}</ion-card-subtitle>
                <ion-card-title>{{article.title}}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content padding text-center>
                  <ion-img src="{{article.urlToImage}}"></ion-img>
                  {{article.description}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
